/* Newsletter Metabox */
.fs-meta {  }
.fs-meta ul li { height: 20px; clear:both; margin: 0 0 15px 0;}
.fs-meta ul li label { width: 160px; display:block; float:left; padding-top:4px; }
.fs-meta ul li input { width:125px; display:block; float:left; }
.fs-meta ul li input.wide { width:250px; }
.fs-meta ul li input[type=radio], .fs-meta ul li input[type=checkbox] { width: auto; margin-top: 4px;}
.fs-meta ul li em { width: 200px; display:block; float:left; color:gray; margin-left:10px; padding-top: 4px}

#titlediv #titlewrap label#title-prompt-text {
    width: auto;
    clip: auto;
    height: auto;
    display: block;
    position: relative;
}

.left { float: left; }
.right { float: right; }

#letters, #membertypes, #states, #clsses {
    margin: 0 auto 5px auto;
    width: 920px;
}
.letter, .membertype, .state, .clss, #download {
    display: inline-block;
    border: grey 1px solid;
    width: auto;
    text-align: center;
    padding: 2px 5px;
    margin-right: 2px;
    background-color: #f1f3f3;
    border-radius: 8px;
    cursor: pointer;
}
.letter {
    width: 31px;    
}
.wider {
    width: 50px;
}
.selected {
    background-color: #ffcccc;
}
.hand {
    cursor: pointer;
}
